@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Mono:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
}


body{
  overflow-x: hidden;
  /* font-family: 'Gotham SSm A', sans-serif; */
}

.bgimg{
  position: relative;
  bottom: 720px;
  right: -120px;
  height: 168vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(./project-images/tx-side-right-red-02.png);
}

    /* Top header */
.nav{
  display:flex;
  position: fixed;
  z-index: 100;
}

.headertopp{
  position: relative;
  bottom: 1100px;
  height: 13vh;
  background-color:#ffffffff;
}

.topheaderlink{
  position: relative;
  right: -72%;
}

.topheaderlink a{
  position: relative;
  top: 2px;
  margin: 13px;
  font-size: 11px;
  font-weight: 900;
}

.topheaderlink a:hover{
  color: #000000;
}
.first{
  text-decoration: none;
  color: #B2292D;
}


.second{
  text-decoration: none;
  color: #696C71;
}

.firsthr{
  position: relative;
  top: 4px;
}
      /* Top header End */  
.secondhead{
  display:flexbox;
}

.secondhead img{
  position: relative;
  top: -57px;
  left: 35px;
}

.links a{
   position: relative;
   left: 40%;
   top: -162px;
   margin: 20px;
   font-size: 18px;
   text-decoration: none;
   color:#44474D;
}

.secondhr{
  position: relative;
  top: -140px;
}

.redbg{
  position: relative;
  padding-top:12px;
  bottom: 1020px;
  background-color: #B2292D;
  width: 100%;
  height: 4.5vh;
  text-align: center;
}

.redbg a{
    color:#ffffffff ;
    font-size: larger;
    font-weight: 800;
    text-decoration: none;
}


.para{
  position: relative;
  left: 6%;
  bottom: 905px;
}

.para #redintro{
  color: #E61E26;
  font-size: 22px;
  font-weight: 800;
}

.para h2{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 800;
  line-height: 20px;
  color: #3D4F65;
}

.para p{
  font-size: 20px;
  color: #222222;
  margin-bottom: 30px;
}

.para a{
  color: #b2282d;
  background-color: #F3F3F4;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 15px 36px;
  text-decoration: none;
}

.para a:hover{
  background-color: #ffffff;
}

.gif a{
  background: none;
  border: none;
}
.gif{
  position: absolute;
  left: 60%;
  bottom: -45%;
}


.line{
  position: relative;
  left: 490px;
  bottom: 720px;
  display: inline-block;
  height: 3px;
  width: 100px;
  margin: 5px;
  background-color: #ccccff;
}

.afterdash{
  position: relative;
  bottom: 718px;
  background-color:#3D4F65;
  width: 100%;
  height: 4.5vh;
  text-align: center;
  padding-top: 8px;
}

.afterdash a{
  color: #ffffff;
  font-size:17px;
  font-weight: 900;
  text-decoration: none;
}

.afterdash a:hover{
  text-decoration: underline;
}

.spend{
  position: relative;
  bottom: 620px;
  width: 100%;
  text-align: center;
}

.spend h2{
  position: relative;
  left: 400px;
  width: 40%;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.spend span{
  color:#b2282d;
}

.spend p{
  color: #44474D;
  font-size:x-large;
  margin-top: 18px;
}

.blockbox{
  position: relative;
  bottom: 570px;
  left: 72px;
  height: 320px;
  width: 580px;
  margin: 8px;
  border-radius: 9px;
  border: 1px solid #d1d1e0;
  background-color: #F7F7F8;
  display: inline-block;
  text-align: center;
}

 #firstbox{
  position: relative;
  bottom: 560px;
}

.blockbox img{
  position: relative;
  top: 35px;
  left: 10px;
}

#firstbox p{
  position: relative;
  top: 10px;
  color: #44474D;
  margin:40px;
  margin-top: 50px;
  font-size: 22px;
}

#secondbox{
  position: relative;
  bottom: 560px;
}

#secondbox p{
  position: relative;
  top: -20px;
  margin: 70px;
  font-size: 22px;
  color: #44474D;
}

.mandiant{
  position: relative;
  left: 240px;
  bottom: 643px;
}

.mandiant a{
  text-decoration: none;
  font-size: 15px;
  padding: 15px 34px;
  background-color:#b2282d;
  border-radius: 10px;
  color: #ffffff;
}

.mandiant a:hover{
  background-color: #3D4F65;
}

.try{
  position: relative;
  left: 850px;
  bottom: 660px;
}

.try a{
  text-decoration: none;
  font-size: 15px;
  padding: 16px 36px;
  background-color: #b2282d;
  border-radius: 10px;
  color: #ffffff;
}

.try a:hover{
  background-color: #3D4F65;
}

.linelogos{
  display: flex;
  width: 80%;
  height: 28vh;
  background-color: #ffffff;
  position: relative;
  bottom: 560px;
  left: 120px;
  text-align: center;
}

.numbers{
  color: #3D4F65;
  font-size: 45px;
  font-weight: 160;
  margin: 0px 5px 0px 5px;
}

.quotes{
  font-weight: 550;
  font-size: 17px;
  color:#3D4F65 ;
}

.fourdiv{
  width: 100%;
  height: 100vh;
  background-color: #F7F7F8;
  position: relative;
  bottom: 507px;

}

#heda{
  text-align: center;
  padding-top: 120px;
  font-size: 28px;
  font-weight: 800;
  color: #29293d;
}

.fourdivss{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -70px;
  text-align: center;
}

.fourdivss div{
  width: 270px;
  height: 340px;
  margin: 10px;
  background-color: #ffffff;
}

.fourdivss div:hover{
  border: 1px solid #d1d1e0;
}

.fourdivss img{
  position: relative;
  top: 20px;
  left: 1px;
}

.fourdivss p:nth-child(2){
  font-size: 21px;
  font-weight: 600;
  position: relative;
  top: 30px;
  left: 1px;
  color: #373753;
}


.fourdivss a{
  text-decoration: none;
}

#leftbutton{
   position: relative;
   left: 23px;
   top: 135px;
   font-size: 70px;
   color: #3D4F65 ;
   font-weight: lighter;
   border: none;
}

  #rightbutton{
    position: relative;
    left: 1280px;
    bottom: 300px;
    font-size: 70px;
    text-decoration: none;
    color: #3D4F65 ;
}

.fourdivss p:nth-child(3){
  margin-top: 40px;
  font-size: 17px;
  color: #696C71;
 }

 .fourdivss button{
   font-weight: lighter;
   padding: 17px 45px; 
   border-radius: 12px;
   border: 1px solid #d1d1e0;
   color: #696C71;
   background-color: #F7F7F8;
   margin-top: 30px;
 }

.fourdivss button:hover{
  background-color: #ffffff;
  cursor: pointer;
}

.dot{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  position: relative;
  bottom: 150px;
}

.dot:hover{
  cursor: pointer;
  background-color: #29293d;
}


.bgwall{
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  position: relative;
  bottom: 650px;
  right: 520px;
  /* background-size: contain; */
  background-image: url(./project-images/forresttx-side-left-grey-05.png) ;
  /* background-position-y: -500px ; */
 }

 .bgwall p:nth-child(1){
   position: relative;
   top: 290px;
   left: 40%;
   text-align: center;
   font-size: 30px;
   font-weight: 800;
   color: #373753;
 }

 .blocks{
   display: flex;
 }
 .blocks a{
   text-decoration: none;
 }

 .blocks div {
   position: relative;
   top: 300px;
   left: 600px;
   width: 370px;
   height: 370px;
   margin: 12px;
   border-radius: 10px;
   border: 1px solid #d1d1e0;
   background-color:#F7F7F8;
 }

 .blocks img{
   margin: 40px 70px;
 }

 .blocks span{
   font-size: 22px;
   position: relative;
   top: -20px;
   margin-left: 30px;
   line-height: 26px;
   color: #1099D6;
 }

 .blocks p{
   padding: 0px 30px 10px;
   font-size: 18px;
   line-height: 22px;
   color: #44474D;
 }
 #secimg{
   margin-left: 120px;
 }

 .blocks button {
   width: 49px;
   height: 46px;
   border-radius: 8px;
   background-color: #ffffff;
   border: 1px solid #d1d1e0;
   margin: 61px;
   margin-left: 77%;
   cursor: pointer;
 }

 .blocks button:hover{
   background-color: #F7F7F8;
 }
 #angle{
   color: #d1d1e0;
   font-size: 19px;
 }

.customer{
  width: 100%;
  height: 90vh;
  bottom: 670px;
  position: relative;
  background-color: #b2282d;
}

.thecontents{
  text-align: center;
  padding-top: 90px;
  color: #ffffffff;
}

.thecontents h2{
  font-size: 30px;
  padding-bottom: 28px;
}
.thecontents p{
  font-size: 30px;
  /* width: 100%; */
}

#secp{
  padding-top: 30px;
  font-size: 18px;
  font-weight: 500;
}

.thecontents a{
   position: relative;
   top: 40px;
   padding: 17px 24px;
   text-decoration: none;
   border-radius: 10px;
   color: #b2282d;
   background-color: #f0f0f7;
}

.thecontents a:hover{
  background-color: #ffffff;
}

#iclass{
  color: #bbb;
  font-size: 18px;
}

.logolines{
  position: relative;
  bottom: -80px;
  left: 90px;
  margin: 5px;
}

.secondtolast{
  width: 100%;
  height: 90vh;
  position: relative;
  right: -980px;
  top: -500px;
  /* background-size: cover; */
  background-image: url(./project-images/forresttx-side-left-grey-05.png);
  /* background-position-y: -400px; */
}

.tolast{
  position: relative;
  right: 560px;;
}

.tolast p{
  color: #44474d;
  font-size: 47px;
  margin-top: -52px;
}

.tolast img{
  margin: 20px 0px 0px 170px;
}

.tolast span{
  position: relative;
  top: 50px;
  right: 370px;
  font-size: 25px;
  font-weight: 900;
  color: #b2282d;
}

.tolast a{
  position: relative;
  top: 100px;
  left: 80px;
  padding: 17px 40px;
  color: #b2282d;
  border-radius: 10px;
  border: 1px solid #d1d1e0;
  background-color: #f0f0f7;
  text-decoration: none;
}

.tolast a:hover{
  background-color: #ffffff;
}

footer{
  display: flex;
  width: 100%;
  height: 65vh;
  background-color: #202020;
  position: relative;
  bottom: 580px;
  padding-left: 80px;
}

footer div{
  height: 55vh;
  width: 25%;
  margin-top: 75px;
}

footer div strong{
  color: #B4B5B8;
}

footer div p{
  color: #8f9194;
  font-size: 15px ;
  padding-top: 6px;
}

footer div a{
  font-size: 15px;
  color: #8F9194;
  display: block;
  padding-top: 6px;
  text-decoration: none;
}

footer div a:hover{
  text-decoration: underline;
  color: #d1d1e0;
}

footer nav{
  display: flex;
}

footer nav a{
  margin: 5px;
}

footer nav i{
  font-size: 16px;
}

.hr{
  position: relative;
  right: 1015px;
  top: 90px;
  border: 1px double grey;
  width: 1200px;
  /* margin: 30px 80px; */
}

.last{
  position: relative;
  bottom:680px;
  left: 80px;
}

.last p,a{
  color: #8F9194;
  text-decoration: none;
  font-size: 15px;
}

.last a:hover{
  color: #d1d1e0;
  text-decoration: underline;
}

#lastlink{
  position: relative;
  left: 82.5%;
  bottom: 35px;
}

#lastlink span{
  display: block;
}

#lastspan{
  margin-left: 24px;
  margin-top: 2px;
}